&i2c1 {
    pinctrl-0 = <
        &i2c1_scl_pb6
        &i2c1_sda_pb7
    >;
    pinctrl-names = "default";
    status = "okay";

    /* ATECC608B */
    atecc608b: atecc608@60 {
        compatible = "atmel,atecc608";
        reg = <0x60>;
        status = "okay";
    };
};
